* {
    box-sizing: border-box;
}

:root {
    --premary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins";
    font-size: 1.6rem;
}

main {
    height: 10000px;
}


/*  Common(Phần dùng chung)  */

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    /* height: 2000px; */
}

.logo:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: var(--premary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    cursor: pointer;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* =============== HEADER ================= */

.header {
    position: relative;
    background: #e6f0ff;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 13px 14px;
}

.navbar .actions-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--premary-color);
}

.navbar .actions-link:hover {
    color: #3447d7;
    text-decoration: underline;
}

.navbar .actions-btn {
    margin-left: 18px;
    padding: 13px 16px;
    border-radius: 8px;
}

.btn:hover {
    opacity: 0.8;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    margin-top: 8px;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    /* or 119% */
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}

.hero .hero-cta {
    min-width: 170px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;
    border-radius: 12px;
}

.hero .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}


/*===========  CLIENT  ============*/

.client {
    margin-top: 79px;
    padding: 43px 0 41px;
}

.client .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.client .row-desc .desc {
    margin-top: 23px;
}

.client .list-custom {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

.client .custom {
    padding-top: 31px;
}

.client .custom:nth-child(3) {
    width: 204px;
    height: 91px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.client .custom img {
    display: block;
    margin: 0 auto;
}


/*===========  GUIDES  ============*/

.guides {
    margin-top: 40px;
}

.guides .content {
    padding-top: 93px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    /* Tạo ra 1 thẻ giả ở trước thẻ h2(class=".sub-title") */
    position: absolute;
    /* Để căn thẻ giả theo thẻ cha h2 */
    top: -10px;
    content: "";
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.guides .desc {
    margin: 20px auto 0;
    /*Thẻ p là thẻ block nên để căn giữa dùng margin trái phải là auto*/
    width: 459px;
    max-width: 100%;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}

.list-guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guides-item {
    margin: 0 70px;
    text-align: center;
}

.guides-item .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45;
}

.guides-item .link {
    margin-top: 8px;
    display: inline-block;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}

.guides-item .arow-right {
    margin-left: 6px;
}

.guides-btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 79px;
}

.guides-btn .btn {
    min-width: 170px;
}


/* ========== FEATURED =========== */

.featured {
    margin-top: 41px;
    background: #f5fafe;
    height: 100vh;
}

.featured .sub-title {
    margin-top: 110px;
    display: inline-block;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.featured .row {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.featured .row .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
    word-break: break-all;
    /*Nếu người dùng nhập dòng chữ quá dài và k có dấu cách
     thì work-break sẽ tự động xuống dòng*/
}

.featured .link {
    margin-left: auto;
    font-weight: 600;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    color: #0689ff;
}

.featured .arow {
    margin-left: 8px;
}

.featured .list {
    margin-top: 68px;
    margin-bottom: 110px;
    display: flex;
    gap: 30px;
}

.featured .item {
    background-color: #fff;
    border-radius: 12px;
    flex: 1;
    /*
    Cho thẻ cha có display(flex) , gap=30px và thẻ con flex=1 là chia đều width thẻ cha 
    cho thẻ con và mỗi thẻ con cách nhau 30px
    */
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    /*Đặt w h để nếu hình ảnh có nhiều loại kích thước đa dạng*/
    object-fit: cover;
    /*Thẻ oj-f giúp hình ảnh lấp đầy width height mà k bị méo ảnh*/
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    margin: 17px 20px 24px;
}

.featured .item .title a {
    margin-top: 17px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #000339;
}

.featured .item .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
}

.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.featured .item .icon {
    margin-left: 22px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .label {
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.01em;
    color: #4d4d52;
    margin-left: 8px;
}


/* ========== STATS =========== */

.stats {
    margin-top: 75px;
    padding: 50px 0px;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .image {
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    margin-left: auto;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    border-radius: 0px 0px 12px 12px;
    padding: 45px 22px 40px;
    background-color: #fff;
}

.stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    color: #000339;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #A7A7A7;
}

.stats .separate {
    margin-top: 25.5px;
    height: 1.2px;
    background: #E9E9E9;
}

.stats .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar:first-child {
    margin-left: 0;
}

.stats .avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -3px;
    background: var(--bg-color, #fff);
    font-weight: 450;
    font-size: 0.7rem;
    line-height: 16px;
    text-align: center;
    /*line và text dùng để căn giữa chữ vào ô*/
    color: #fff;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    width: 269px;
    color: #000339;
}

.stats .info .sub-title::before {
    position: absolute;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    left: 0;
    top: -10px;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    width: 309px;
    color: #5A6473;
}

.stats .qty-item .qty {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}

.stats .qty-item .qty-desc {
    margin-top: 23px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7B8087;
}

.stats .row-qty {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;
    margin-bottom: 50px;
}


/* ========== SUBSCRIPTION =========== */

.subcription {
    margin-top: 50px;
}

.subcription .body {
    position: relative;
    display: flex;
    align-items: center;
    /*Căn giữa khối nội dung info*/
    height: 370px;
    background: #063183;
    border-radius: 20px;
}

.subcription .info {
    margin: 0 80px;
    width: 671px;
    max-width: 100%;
}

.subcription .info .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #FFFFFF;
}

.subcription .info .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #FFFFFF;
    opacity: 0.75;
}

.subcription .info .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: #002366;
}

.subcription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}


/* ========== FOOTER =========== */

.footer {
    margin-top: 55px;
    padding: 50px 0 58px
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .colum {
    max-width: 216px;
}

.footer .colum:last-child {
    max-width: 256px;
}

.footer .heading {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1C1C1D;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .list .item {
    margin-top: 18px;
}

.footer .social {
    display: flex;
    margin-top: 40px;
}

.footer .social-link {
    display: flex;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.footer .social-link:hover {
    border-radius: 5px;
    background: #e0dfdf;
}

.footer .item a,
.footer .desc {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7A7A7E;
    line-height: 24px;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
}

.footer .row-bottom {
    margin-top: 81px;
    align-items: center;
}

.footer .row-bottom .copyright {
    margin-left: auto;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.75;
    color: #C2C2C2;
}